.header{
	background-color: darkblue;
	padding: 10px 20px;
	color: white;

	.navbar{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;

		.title{
			text-transform: capitalize;
			font-weight: 600;
			display: flex;
			align-items: center;
			gap: 8px;

			@media (max-width: 600px) {
				.brand-name{
					display: none;
				}
			}
		}

		ul{
			display: flex;
			gap: 15px;
			margin-bottom: 0;
			
			li{
				list-style: none;

				a{
					text-decoration: none;
					color: white;
				}
			}
		}
	}
}